.form1
{
width: 700px;
height:auto;
border:2px solid #434343;
margin: 0 auto;
padding: 20px;
	background-color:aliceblue;

}
#p1
{
	text-align:left;
	font-size: 20px;
	font-weight: bold;
}
.p2
{
	text-align:center;
	font-size: 40px;
	font-weight: bolder;
}
.ar1
{
	width: 100%;
	background-color:floralwhite;
}
.m1
{
	text-align: left;
	font-size: 15px;
	font-weight: bold;
}

.sub
{
width: 100px;
height: 40px;
	background-color:darkcyan;
	position:relative; bottom:0px; left:250px;
}
.res
{
	width: 100px;
height: 40px;
	background-color:crimson;
	position:relative; bottom:0px; left:250px;
}
.nav
{
	text-align:center;
	font-size: large;
	padding: 10px;
	font-weight: bolder;
	text-decoration:none;
	

	
}
.but1
{
	background-size:auto;
	background-color: darkorange;
	text-decoration-line: none;
	width: 125px;
	height: 25px;
    font-family: arial black;
	

}
.but2
{
background-size:auto;
background-color:deepskyblue;
	text-decoration-line: none;
	width: 125px;
	height: 25px;
	font-family: arial black;

}
	
.but3
{
	background-size:auto;
	background-color:dodgerblue;
text-decoration-line: none;
	width: 125px;
	height: 25px;
	font-family: arial black;
	text-decoration: none;
		


}
	
